@import "./variables.scss";

.AddNewCostaContainer {
  font-family: 'Alice', serif;
  display: flex;
  justify-content: center;
  background: $default-bg;
  min-height: calc(100vh - #{$title-bar-height} - #{$title-bar-padding-top});
  padding-bottom: $content-padding-before-footer;

  .AddNewCostaContainerContent {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AddCostaMainTitle {
    padding: 30px;
    font-size: 50px;
    @media only screen and (max-width: 600px) {
      padding: 25px;
      font-size: 36px;
    }
  }
}

.timeRow {
  display: flex;
  align-items: center;
  width: 350px;
  padding-top: 20px;
  @media only screen and (max-width: 600px) {
    width: 300px;
    padding-top: 20px;
  }
}

.AddCostaSubTitle {
  font-size: 30px;
  width: 140px;
  @media only screen and (max-width: 600px) {
    font-size: 22px;
    width: 90px;
  }
}

.AddCostaTextArea {
  width: 500px;
  @media only screen and (max-width: 600px) {
    width: 280px;
  }
}

.buttonBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
