@import "./variables.scss";
@import "./animations.scss";
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alice&display=swap");

.titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $title-bar-padding-top;
  width: 100%;
  height: $title-bar-height;
  background-color: black;
  color: white;
  p {
    font-family: "Sacramento", cursive;
    transform: rotate(-5deg);
    font-size: 45px;
    font-weight: 900;
  }
}

.titlebarText {
  cursor: pointer;
}

.NoMatch {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #000;
  height: calc(100vh - #{$title-bar-height});
  font-size: 70px;
  padding-top: 300px;

  @media only screen and (max-width: 600px) {
    font-size: 35px;
    padding-top: 180px;
  }
}

.CountdownContainer {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)),
    url("../../assets/jyri_crop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4ca5c3;
  color: #fff;
  height: $countdown-height;

  &::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &-ongoing {
    @extend .CountdownContainer;
    animation: blinkingText 2.5s infinite;
    color: rgb(231, 143, 143);
  }
}

.CountdownTitle {
  font-size: 40px;
  font-family: "Alice", serif;
  margin-bottom: 30px;
  padding: 8px 15px;
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

  @media only screen and (max-width: 600px) {
    font-size: 23px;
    padding: 8px 12px;
    border-radius: 7px;
  }
}

.CountdownItem {
  width: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  border-radius: 12px;
  margin: 0 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Alice", serif;

  @media only screen and (max-width: 600px) {
    width: 48px;
    border-radius: 10px;
    margin: 0 3px;
    padding: 16px;
  }

  .CountdownCount {
    font-family: "Quantico", sans-serif;
  }
}

.CountdownItems {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.CostaListContainer {
  display: flex;
  padding: 20px 20px $content-padding-before-footer 20px;
  align-items: center;
  flex-direction: column;
  background: $default-bg;
  min-height: calc(
    100vh - #{$title-bar-height} - #{$countdown-height} - #{$title-bar-padding-top}
  );
  height: 100%;

  .AddCostaButtonContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.addCostaModal {
  background: white;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
}

.closeAddCostaModalIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.costaRowContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
  margin: 70px 0 5px 0;
  font-family: "Alice", serif;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  box-shadow: -3px -3px 10px 2px white;

  @media only screen and (max-width: 600px) {
    width: 280px;
    padding: 5px 20px;
    margin: 70px 0 5px 0;
  }

  &-ongoing {
    @extend .costaRowContainer;
    margin: 0 0 5px 0;
    padding-top: 10px;
    box-shadow: -3px 3px 5px white;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(#e90a0acc, #e9e50acc);

    @media only screen and (max-width: 600px) {
      width: 280px;
      padding: 5px 20px;
      margin: 0px 0 5px 0;
    }
  }

  .costaName {
    font-size: 40px;
    margin-bottom: 30px;
    border-bottom: solid 3px white;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
      margin-bottom: 25px;
      border-bottom: solid 2px white;
    }
  }

  .costaDescriptionText {
    margin-top: 30px;
    font-family: "Alice", serif;
    font-size: 35px;
    @media only screen and (max-width: 600px) {
      font-size: 22px;
      margin-top: 18px;
    }
  }

  .costaDescription {
    margin: 15px 0;
    width: 80%;
    text-align: center;
    font-size: 20px;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
      margin: 8px 0;
      width: 90%;
    }
  }

  .costaRowRow {
    width: 100%;
    padding: 2px;
    font-size: 23px;

    @media only screen and (max-width: 600px) {
      padding: 2px;
      font-size: 14px;
    }

    .costaRowRowText {
      display: inline-block;
      width: 120px;

      @media only screen and (max-width: 600px) {
        width: 80px;
      }
    }
  }
}

.costaRowOngoingText {
  margin-top: 70px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 45px;
  background-color: #e90a0acc;
  border-radius: 8px 8px 0px 0px;
  color: white;
  box-shadow: -3px -3px 10px 2px white;
  animation: blinkingBg 2.5s infinite;
  text-align: center;
  @media only screen and (max-width: 600px) {
    font-size: 30px;
  }
}

.EventListItems {
  display: flex;
  flex-direction: column;
}

.editRemoveCostaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CookiePopupContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: 0.96;
  padding: 18px;
}

.CookiePopupContentText {
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
}

.CookiesPopupContentButtons {
  display: flex;
}

.CookiesPopupContentButton {
  margin: 10px;
}

.PrivacyPolicyModalContent {
  background-color: white;
  border: 2px solid black;
  width: 500px;
  height: 80%;
  padding: 30px 60px;
  overflow: auto;
}

.ClosePrivacyModalCrossRow {
  float: right;
  cursor: pointer;
}

.FooterContent {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Alice", serif;
}

.FooterPrivacyText {
  font-size: 23px;
  text-shadow: 2px 2px 2px grey;
  text-decoration: underline;
  cursor: pointer;
  transition: ease-out 0.1s;
  padding-left: 30px;

  &:hover {
    color: magenta;
    transition: ease-out 0.4s;
  }
}

.FooterCopyrightText {
  font-size: 15px;
  padding-left: 40px;
}

.Progress {
  margin-bottom: 70px;
  text-align: center;
}

.ProgressText {
  color: #f50057;
  font-size: 30px;
  padding-bottom: 20px;
}

.ServerNotAvailable {
  @extend .Progress;
  background-color: #000;
  padding: 20px 20px 10px 20px;
}

.ServerNotAvailableText {
  @extend .ProgressText;
  text-transform: uppercase;
}
