$title-bar-padding-top: 0px;
$title-bar-height: 90px;
$countdown-height: 485px; // Height of background image
$default-bg: linear-gradient(170deg, rgba(230,234,255,1) 0%, rgba(29,135,253,1) 40%, rgba(69,211,252,1) 100%);

$content-padding-before-footer: 150px;